node-red/flow.json
[
    {
        "id": "f1dd4598.5b0fa8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "39d671ff.8f0f6e",
        "type": "mqtt out",
        "z": "f1dd4598.5b0fa8",
        "name": "flask_test_out",
        "topic": "flask_test",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-tls",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "a902c5fa.38e248",
        "type": "inject",
        "z": "f1dd4598.5b0fa8",
        "name": "flask_test_out",
        "topic": "flask_test",
        "payload": "Wi4HsSVQY0EQ/RuRC7winks= X3hxxWCG+926QW2ZGuIi0Q==",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "39d671ff.8f0f6e"
            ]
        ]
    },
    {
        "id": "3079fcb7.a3e184",
        "type": "inject",
        "z": "f1dd4598.5b0fa8",
        "name": "save_data",
        "topic": "save_data",
        "payload": "{\"device_id\":1,\"device_data\":\"my_data\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "52e396c3.116f68"
            ]
        ]
    },
    {
        "id": "52e396c3.116f68",
        "type": "mqtt out",
        "z": "f1dd4598.5b0fa8",
        "name": "save_data_out",
        "topic": "save_data",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-tls",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "30ccecd2.0ae874",
        "type": "mqtt in",
        "z": "f1dd4598.5b0fa8",
        "name": "ec_pk_receive",
        "topic": "server/d:23/",
        "qos": "2",
        "broker": "mqtt-broker-tls",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "bb949436.d2c408"
            ]
        ]
    },
    {
        "id": "bb949436.d2c408",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 ../client/cli.py --no-debug device receive-pk ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "process",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "239c6d9a.27c082"
            ],
            [],
            []
        ]
    },
    {
        "id": "e9d870ed.dcb8a",
        "type": "json",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 730,
        "y": 360,
        "wires": [
            [
                "c6d39b94.7fed48"
            ]
        ]
    },
    {
        "id": "c6d39b94.7fed48",
        "type": "mqtt out",
        "z": "f1dd4598.5b0fa8",
        "name": "ec_pk_send",
        "topic": "d:23/server/",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-tls",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "285c45a1.4f0f7a",
        "type": "mqtt in",
        "z": "f1dd4598.5b0fa8",
        "name": "Log",
        "topic": "+/d:23/",
        "qos": "2",
        "broker": "mqtt-broker-tls",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "3c4c1a28.5ef0e6",
                "9008fc1a.5294a"
            ]
        ]
    },
    {
        "id": "3c4c1a28.5ef0e6",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 /home/martin/Projects/diplomovka/IoT-Cloud/client/cli.py --no-debug device parse-msg ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "process",
        "x": 380,
        "y": 500,
        "wires": [
            [
                "589ff71f.0f56c8"
            ],
            [],
            []
        ]
    },
    {
        "id": "e776d04f.927f2",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1010,
        "y": 540,
        "wires": []
    },
    {
        "id": "de19777e.1dba28",
        "type": "switch",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 810,
        "y": 500,
        "wires": [
            [
                "247f8722.253548"
            ],
            [
                "e776d04f.927f2"
            ]
        ]
    },
    {
        "id": "247f8722.253548",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "Plaintext",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1020,
        "y": 460,
        "wires": []
    },
    {
        "id": "7cf55674.de2318",
        "type": "json",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 670,
        "y": 500,
        "wires": [
            [
                "de19777e.1dba28"
            ]
        ]
    },
    {
        "id": "9008fc1a.5294a",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 ../client/cli.py --no-debug device save-column-keys ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Save Column Keys",
        "x": 410,
        "y": 640,
        "wires": [
            [
                "c08c80d3.178c2"
            ],
            [
                "c08c80d3.178c2"
            ],
            [
                "c08c80d3.178c2"
            ]
        ]
    },
    {
        "id": "c08c80d3.178c2",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "Errors",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 630,
        "y": 640,
        "wires": []
    },
    {
        "id": "5d83176.1b027e8",
        "type": "inject",
        "z": "f1dd4598.5b0fa8",
        "name": "send_add_fake_tuple",
        "topic": "23/server/save_data",
        "payload": "upper_bound",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 820,
        "wires": [
            [
                "3e137960.a280e6"
            ]
        ]
    },
    {
        "id": "3e137960.a280e6",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 ../client/cli.py --no-debug device get-fake-tuple",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Get Fake Tuple",
        "x": 400,
        "y": 820,
        "wires": [
            [
                "92c7cc8.4780a3"
            ],
            [],
            []
        ]
    },
    {
        "id": "bec9ef65.48434",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "Console Dump",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 880,
        "y": 780,
        "wires": []
    },
    {
        "id": "92c7cc8.4780a3",
        "type": "json",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 630,
        "y": 820,
        "wires": [
            [
                "bec9ef65.48434",
                "3cec3086.6022e"
            ]
        ]
    },
    {
        "id": "3cec3086.6022e",
        "type": "mqtt out",
        "z": "f1dd4598.5b0fa8",
        "name": "fake_tuple_send_add",
        "topic": "d:23/server/save_data",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-tls",
        "x": 900,
        "y": 840,
        "wires": []
    },
    {
        "id": "42950daa.7d14f4",
        "type": "inject",
        "z": "f1dd4598.5b0fa8",
        "name": "send_remove_fake_tuple",
        "topic": "23/server/remove_data",
        "payload": "lower_bound",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 980,
        "wires": [
            [
                "cd2bb835.43c438"
            ]
        ]
    },
    {
        "id": "cd2bb835.43c438",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 ../client/cli.py --no-debug device get-fake-tuple",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Get Fake Tuple",
        "x": 400,
        "y": 980,
        "wires": [
            [
                "a6c9e861.fcf7d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "5b33fba9.bedfb4",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "Console Dump",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 880,
        "y": 940,
        "wires": []
    },
    {
        "id": "a6c9e861.fcf7d8",
        "type": "json",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 630,
        "y": 980,
        "wires": [
            [
                "5b33fba9.bedfb4",
                "ed29be21.ba7cb"
            ]
        ]
    },
    {
        "id": "ed29be21.ba7cb",
        "type": "mqtt out",
        "z": "f1dd4598.5b0fa8",
        "name": "fake_tuple_send_remove",
        "topic": "d:23/server/remove_data",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-tls",
        "x": 910,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5c5d10fd.e3642",
        "type": "mqtt in",
        "z": "f1dd4598.5b0fa8",
        "name": "get_tuple_data_receive",
        "topic": "+/d:23/",
        "qos": "2",
        "broker": "mqtt-broker-tls",
        "x": 160,
        "y": 1260,
        "wires": [
            [
                "e4032d44.42712"
            ]
        ]
    },
    {
        "id": "e4032d44.42712",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 ../client/cli.py --no-debug device get-fake-tuple-info ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Get Fake Tuple Info",
        "x": 410,
        "y": 1260,
        "wires": [
            [
                "8231adc5.34aaf"
            ],
            [],
            []
        ]
    },
    {
        "id": "76a757f.60bf2a8",
        "type": "json",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 750,
        "y": 1260,
        "wires": [
            [
                "a741231e.c7489"
            ]
        ]
    },
    {
        "id": "ee9a2a1b.f76cf8",
        "type": "mqtt out",
        "z": "f1dd4598.5b0fa8",
        "name": "ec_pk_send",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-tls",
        "x": 1150,
        "y": 1220,
        "wires": []
    },
    {
        "id": "fb77bfbe.bfeb6",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "get_fake_tuple_info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1170,
        "y": 1300,
        "wires": []
    },
    {
        "id": "ea52e919.e2b448",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 ../client/cli.py --no-debug device process-action ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Process Actions Msg",
        "x": 420,
        "y": 1500,
        "wires": [
            [
                "ea1344eb.a51d98"
            ],
            [],
            []
        ]
    },
    {
        "id": "8ded5f3d.54aeb",
        "type": "mqtt in",
        "z": "f1dd4598.5b0fa8",
        "name": "process_action",
        "topic": "+/d:23/",
        "qos": "2",
        "broker": "mqtt-broker-tls",
        "x": 180,
        "y": 1500,
        "wires": [
            [
                "ea52e919.e2b448"
            ]
        ]
    },
    {
        "id": "ea1344eb.a51d98",
        "type": "switch",
        "z": "f1dd4598.5b0fa8",
        "name": "Choose Action",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "On\\n",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "Off\\n",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 1500,
        "wires": [
            [
                "8f510fae.df1b9"
            ],
            [
                "405e4cbb.28cc44"
            ]
        ]
    },
    {
        "id": "8f510fae.df1b9",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "On",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 850,
        "y": 1460,
        "wires": []
    },
    {
        "id": "405e4cbb.28cc44",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "Off",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 850,
        "y": 1540,
        "wires": []
    },
    {
        "id": "15204be5.feb4c4",
        "type": "inject",
        "z": "f1dd4598.5b0fa8",
        "name": "send_save_data",
        "topic": "23/server/save_data",
        "payload": "1 data 1234",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 1120,
        "wires": [
            [
                "5768ca06.ec2f34"
            ]
        ]
    },
    {
        "id": "5768ca06.ec2f34",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 ../client/cli.py --no-debug device save-data ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Save Data",
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "3b2495f6.4d847a"
            ],
            [],
            []
        ]
    },
    {
        "id": "96886ba9.eb0e88",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "Console Dump",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 880,
        "y": 1080,
        "wires": []
    },
    {
        "id": "3b2495f6.4d847a",
        "type": "json",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 630,
        "y": 1120,
        "wires": [
            [
                "96886ba9.eb0e88",
                "d85cc4ec.087c08"
            ]
        ]
    },
    {
        "id": "d85cc4ec.087c08",
        "type": "mqtt out",
        "z": "f1dd4598.5b0fa8",
        "name": "send_add",
        "topic": "d:23/server/save_data",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-tls",
        "x": 860,
        "y": 1140,
        "wires": []
    },
    {
        "id": "118774a8.44dd3b",
        "type": "inject",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "*/6 0-23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 1660,
        "wires": [
            [
                "3f8d4a94.185b26"
            ]
        ]
    },
    {
        "id": "3f8d4a94.185b26",
        "type": "function",
        "z": "f1dd4598.5b0fa8",
        "name": "25%",
        "func": "const random = Math.round(Math.random() * 100);\n\nif(random < 75) {\n    node.status({fill: \"red\", text: random});\n    return null;\n}\nnode.status({fill: \"green\", text: random});\n\nuser_id = 1\nbound = \"upper_bound\"\n\nvar msg = { payload: user_id + \" \" + bound };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 1660,
        "wires": [
            [
                "f225ae4.fc7f45"
            ]
        ]
    },
    {
        "id": "f225ae4.fc7f45",
        "type": "delay",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "minutes",
        "drop": false,
        "x": 440,
        "y": 1660,
        "wires": [
            [
                "54f9b2ed.159fcc"
            ]
        ]
    },
    {
        "id": "54f9b2ed.159fcc",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 ../client/cli.py --no-debug device get-fake-tuple",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Get Fake Tuple",
        "x": 640,
        "y": 1660,
        "wires": [
            [
                "12bf6630.edae5a"
            ],
            [],
            []
        ]
    },
    {
        "id": "5e46e773.455ff8",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "Console Dump",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1120,
        "y": 1620,
        "wires": []
    },
    {
        "id": "12bf6630.edae5a",
        "type": "json",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 870,
        "y": 1660,
        "wires": [
            [
                "5e46e773.455ff8",
                "234760e0.5a486"
            ]
        ]
    },
    {
        "id": "234760e0.5a486",
        "type": "mqtt out",
        "z": "f1dd4598.5b0fa8",
        "name": "fake_tuple_send_add",
        "topic": "d:23/server/save_data",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-tls",
        "x": 1140,
        "y": 1680,
        "wires": []
    },
    {
        "id": "f47b7601.30bca8",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 ../client/cli.py --no-debug device get-fake-tuple",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Get Fake Tuple",
        "x": 640,
        "y": 1800,
        "wires": [
            [
                "95171d53.a8271"
            ],
            [],
            []
        ]
    },
    {
        "id": "c8f2ea40.27a598",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "Console Dump",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1120,
        "y": 1760,
        "wires": []
    },
    {
        "id": "95171d53.a8271",
        "type": "json",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 870,
        "y": 1800,
        "wires": [
            [
                "c8f2ea40.27a598",
                "969fc797.5d9c88"
            ]
        ]
    },
    {
        "id": "969fc797.5d9c88",
        "type": "mqtt out",
        "z": "f1dd4598.5b0fa8",
        "name": "fake_tuple_send_remove",
        "topic": "d:23/server/remove_data",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-tls",
        "x": 1150,
        "y": 1820,
        "wires": []
    },
    {
        "id": "f3c8ebe0.8c9898",
        "type": "inject",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "*/6 0-23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 1800,
        "wires": [
            [
                "fe709536.50a708"
            ]
        ]
    },
    {
        "id": "fe709536.50a708",
        "type": "function",
        "z": "f1dd4598.5b0fa8",
        "name": "25%",
        "func": "const random = Math.round(Math.random() * 100);\n\nif(random < 75) {\n    node.status({fill: \"red\", text: random});\n    return null;\n}\nnode.status({fill: \"green\", text: random});\n\nuser_id = 1\nbound = \"lower_bound\"\n\nvar msg = { payload: user_id + \" \" + bound };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 1800,
        "wires": [
            [
                "60609cdc.516934"
            ]
        ]
    },
    {
        "id": "60609cdc.516934",
        "type": "delay",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "minutes",
        "drop": false,
        "x": 440,
        "y": 1800,
        "wires": [
            [
                "f47b7601.30bca8"
            ]
        ]
    },
    {
        "id": "a741231e.c7489",
        "type": "change",
        "z": "f1dd4598.5b0fa8",
        "name": "Reverse Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1260,
        "wires": [
            [
                "fb77bfbe.bfeb6",
                "ee9a2a1b.f76cf8"
            ]
        ]
    },
    {
        "id": "8231adc5.34aaf",
        "type": "switch",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 1260,
        "wires": [
            [
                "76a757f.60bf2a8"
            ]
        ]
    },
    {
        "id": "589ff71f.0f56c8",
        "type": "switch",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 500,
        "wires": [
            [
                "7cf55674.de2318"
            ]
        ]
    },
    {
        "id": "239c6d9a.27c082",
        "type": "switch",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "e9d870ed.dcb8a"
            ]
        ]
    },
    {
        "id": "mqtt-broker-tls",
        "type": "mqtt-broker",
        "z": "",
        "name": "Local MQTT Broker",
        "broker": "172.26.0.8",
        "port": "8883",
        "tls": "ec6f7e8b.9cb98",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ec6f7e8b.9cb98",
        "type": "tls-config",
        "z": "",
        "name": "Local Dev Certs",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "server.crt",
        "keyname": "",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false
    }
]