node-red/flow.json
[
    {
        "id": "f1dd4598.5b0fa8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "39d671ff.8f0f6e",
        "type": "mqtt out",
        "z": "f1dd4598.5b0fa8",
        "name": "flask_test_out",
        "topic": "flask_test",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-tls",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "a902c5fa.38e248",
        "type": "inject",
        "z": "f1dd4598.5b0fa8",
        "name": "flask_test_out",
        "topic": "flask_test",
        "payload": "Wi4HsSVQY0EQ/RuRC7winks= X3hxxWCG+926QW2ZGuIi0Q==",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "39d671ff.8f0f6e"
            ]
        ]
    },
    {
        "id": "3079fcb7.a3e184",
        "type": "inject",
        "z": "f1dd4598.5b0fa8",
        "name": "save_data",
        "topic": "save_data",
        "payload": "{\"device_id\":1,\"device_data\":\"my_data\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "52e396c3.116f68"
            ]
        ]
    },
    {
        "id": "52e396c3.116f68",
        "type": "mqtt out",
        "z": "f1dd4598.5b0fa8",
        "name": "save_data_out",
        "topic": "save_data",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-tls",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "30ccecd2.0ae874",
        "type": "mqtt in",
        "z": "f1dd4598.5b0fa8",
        "name": "ec_pk_receive",
        "topic": "server/23",
        "qos": "2",
        "broker": "mqtt-broker-tls",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "bb949436.d2c408"
            ]
        ]
    },
    {
        "id": "bb949436.d2c408",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 /home/martin/Projects/diplomovka/IoT-Cloud/client/cli.py --no-debug device receive-pk ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "process",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "e9d870ed.dcb8a"
            ],
            [],
            []
        ]
    },
    {
        "id": "e9d870ed.dcb8a",
        "type": "json",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "c6d39b94.7fed48"
            ]
        ]
    },
    {
        "id": "c6d39b94.7fed48",
        "type": "mqtt out",
        "z": "f1dd4598.5b0fa8",
        "name": "ec_pk_send",
        "topic": "23/server",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-tls",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "285c45a1.4f0f7a",
        "type": "mqtt in",
        "z": "f1dd4598.5b0fa8",
        "name": "Log",
        "topic": "+/23",
        "qos": "2",
        "broker": "mqtt-broker-tls",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "3c4c1a28.5ef0e6",
                "9008fc1a.5294a"
            ]
        ]
    },
    {
        "id": "3c4c1a28.5ef0e6",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 /home/martin/Projects/diplomovka/IoT-Cloud/client/cli.py --no-debug device parse-msg ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "process",
        "x": 380,
        "y": 500,
        "wires": [
            [
                "7cf55674.de2318"
            ],
            [],
            []
        ]
    },
    {
        "id": "e776d04f.927f2",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 910,
        "y": 540,
        "wires": []
    },
    {
        "id": "de19777e.1dba28",
        "type": "switch",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 710,
        "y": 500,
        "wires": [
            [
                "247f8722.253548"
            ],
            [
                "e776d04f.927f2"
            ]
        ]
    },
    {
        "id": "247f8722.253548",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "Plaintext",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 920,
        "y": 460,
        "wires": []
    },
    {
        "id": "7cf55674.de2318",
        "type": "json",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 570,
        "y": 500,
        "wires": [
            [
                "de19777e.1dba28"
            ]
        ]
    },
    {
        "id": "9008fc1a.5294a",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 /home/martin/Projects/diplomovka/IoT-Cloud/client/cli.py --no-debug device save-column-keys ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Save Column Keys",
        "x": 410,
        "y": 640,
        "wires": [
            [
                "c08c80d3.178c2"
            ],
            [
                "c08c80d3.178c2"
            ],
            [
                "c08c80d3.178c2"
            ]
        ]
    },
    {
        "id": "c08c80d3.178c2",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "Errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 630,
        "y": 640,
        "wires": []
    },
    {
        "id": "5d83176.1b027e8",
        "type": "inject",
        "z": "f1dd4598.5b0fa8",
        "name": "send_add_fake_tuple",
        "topic": "23/server/save_data",
        "payload": "1 upper_bound",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 820,
        "wires": [
            [
                "3e137960.a280e6"
            ]
        ]
    },
    {
        "id": "3e137960.a280e6",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 /home/martin/Projects/diplomovka/IoT-Cloud/client/cli.py --no-debug device get-fake-tuple",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Get Fake Tuple",
        "x": 400,
        "y": 820,
        "wires": [
            [
                "92c7cc8.4780a3"
            ],
            [],
            []
        ]
    },
    {
        "id": "bec9ef65.48434",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "Console Dump",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 880,
        "y": 780,
        "wires": []
    },
    {
        "id": "92c7cc8.4780a3",
        "type": "json",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 630,
        "y": 820,
        "wires": [
            [
                "bec9ef65.48434",
                "3cec3086.6022e"
            ]
        ]
    },
    {
        "id": "3cec3086.6022e",
        "type": "mqtt out",
        "z": "f1dd4598.5b0fa8",
        "name": "fake_tuple_send_add",
        "topic": "23/server/save_data",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-tls",
        "x": 900,
        "y": 840,
        "wires": []
    },
    {
        "id": "42950daa.7d14f4",
        "type": "inject",
        "z": "f1dd4598.5b0fa8",
        "name": "send_remove_fake_tuple",
        "topic": "23/server/remove_data",
        "payload": "1 lower_bound",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 980,
        "wires": [
            [
                "cd2bb835.43c438"
            ]
        ]
    },
    {
        "id": "cd2bb835.43c438",
        "type": "exec",
        "z": "f1dd4598.5b0fa8",
        "command": "python3 /home/martin/Projects/diplomovka/IoT-Cloud/client/cli.py --no-debug device get-fake-tuple",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": false,
        "name": "Get Fake Tuple",
        "x": 400,
        "y": 980,
        "wires": [
            [
                "a6c9e861.fcf7d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "5b33fba9.bedfb4",
        "type": "debug",
        "z": "f1dd4598.5b0fa8",
        "name": "Console Dump",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 880,
        "y": 940,
        "wires": []
    },
    {
        "id": "a6c9e861.fcf7d8",
        "type": "json",
        "z": "f1dd4598.5b0fa8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 630,
        "y": 980,
        "wires": [
            [
                "5b33fba9.bedfb4",
                "ed29be21.ba7cb"
            ]
        ]
    },
    {
        "id": "ed29be21.ba7cb",
        "type": "mqtt out",
        "z": "f1dd4598.5b0fa8",
        "name": "fake_tuple_send_remove",
        "topic": "23/server/remove_data",
        "qos": "",
        "retain": "",
        "broker": "mqtt-broker-tls",
        "x": 910,
        "y": 1000,
        "wires": []
    },
    {
        "id": "mqtt-broker-tls",
        "type": "mqtt-broker",
        "z": "",
        "name": "Local MQTT Broker",
        "broker": "172.21.0.2",
        "port": "8883",
        "tls": "ec6f7e8b.9cb98",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ec6f7e8b.9cb98",
        "type": "tls-config",
        "z": "",
        "name": "Local Dev Certs",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "server.crt",
        "keyname": "",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false
    }
]